th {
    padding: 0px 3px 0px 3px !important;
}

.activityHeader {
    background: var(--mainColorStrong);
}

.activityHeaderTd {
    /* vertical-align: middle; */
    text-align: center;
    padding: 5px 5px;
    color: var(--secondTextStrong);
}

.resourceCards {
    background: wheat;
    border-radius: 4px;
    padding: 5px;
    margin: 3px 0px 3px 0px;
}

.resourceCardTable td, th {
    padding: 0px;
    text-align: center;
}

.resourceCardTable td {
    text-align: center;
    padding: 3px;
}

.resourceAmount {
    text-align: center !important;
    max-width: 52px;
}

.panelActivity {
    max-width: 550px;
    margin: auto;
}

.responsible {
    background: #e3cb9f;
    text-align: center !important;
    cursor: pointer;
    user-select: none;
}

.responsibleTrue {
    background: #4cf14c;
}

.responsibleFalse {}

.addResource {
    background: blue;
    color: white;
    text-align: center !important;
    border-radius: 4px;
    padding: 3px !important;
    cursor: pointer;
    user-select: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(68, 68, 68);
    opacity: 1;
    /* Firefox */
    font-size: 1rem;
}

.confirmResource {
    background: green;
    color: white;
    cursor: pointer;
    user-select: none;
    text-align: center !important;
}

.cancelResource {
    background: red;
    color: white;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

#rsAmount {
    width: 52px;
}

.nameSelected {
    box-shadow: 0px 0px 15px blue;
}

.deleteResourceTd {
    text-align: center !important;
}

.deleteResource {
    color: #73737340;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.newResource {
    animation: fade-in 0.5s;
}

.joinVolunteers {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #afafaf;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: pointer;
    user-select: none;
}

.volunteerRemove {
    margin-top: 3px;
    user-select: none;
    cursor: pointer;
}

@keyframes fade-in {
    from {
        opacity: 0;
        box-shadow: 0px 0px 30px red;
    }
    to {
        opacity: 1;
        box-shadow: 0px 0px 0px rgba(255, 0, 0, 0);
    }
}

.descriptionRow {
    border: none;
}

.activityChat {
    color: #80808073;
}

.chatDone {
    width: 20px;
    padding: 4px 4px !important;
}

.chatDoneRow {
    border: none !important;
}

.chatDoneCell {
    padding: 4px 4px !important;
    width: 33%;
    text-align: center;
}

.chatCounter {
    font-size: 0.8rem;
    position: relative;
    top: -12px;
    left: 20px;
    height: 0px;
}

.newChat {
    color: green;
}

.modalList {
    padding: 10px !important;
}