.activityHeader {
    background: var(--mainColorStrong);
    color: var(--mainTextStrong);
}

.activityHeaderTd {
    /* vertical-align: middle; */
    text-align: center;
    padding: 5px 5px;
}

.resourceCards {
    background: wheat;
    border-radius: 4px;
    padding: 5px;
    margin: 3px 0px 3px 0px;
}

.resourceCardTable td, th {
    padding: 0px;
    text-align: center;
}

.resourceCardTable td {
    text-align: right;
    padding: 3px;
}

.resourceAmount {
    text-align: center !important;
}

.panelActivity {
    max-width: 550px;
    margin: auto;
}

.responsible {
    background: #e3cb9f;
    text-align: center !important;
    cursor: pointer;
    user-select: none;
}

.responsibleTrue {
    background: #4cf14c;
}

.responsibleFalse {}