.footerButtons {
    user-select: none;
    cursor: pointer;
    text-align: center;
    padding: 6px;
}

.buttons {
    user-select: none;
}

.chatsNumber {
    position: absolute;
    top: 4px;
    left: 28%;
    transform: translateX(29%);
}