.votingContainer {}

.votingHeader {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.votingSubHeader {
    background: white;
}

.mainVotingPanel {
    margin-top: 55px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 85%;
    /* max-width: 550px; */
}

.numberOfVoters {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 20px;
}

.cardVoting {
    width: 100%;
    height: 170px;
    position: relative;
}

.cardVotingRow {
    border: 0px solid white;
}

.imgShow {
    position: relative;
    z-index: -5;
    top: 10px !important;
}

.imgVote {
    width: 100px
}

.imgVotCell {
    background: white;
}

.imgVoteCellImg {
    width: 100px;
    border-radius: 5px;
}

.votingPanel {
    width: 100%;
    height: 177px;
    direction: rtl;
    text-align: right;
}

.votingPanel span {
    float: right;
    margin: 3px;
}

.votersName {
    margin-bottom: 9px;
    margin-top: 4px;
    background: rgba(0, 0, 0, 0.92);
    height: 134px;
    z-index: 100;
}

.votingBar {
    border: 1px solid gray;
    height: 60px;
    width: 52%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    position: absolute;
    top: 52px;
    z-index: -2;
}

.votingBarProgress {
    background: #E2E2E2;
    width: 45%;
    height: 100%;
    float: right;
    border-radius: 5px;
}

.votingBarProgressText {
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.voted {
    box-shadow: 0px 0px 15px #0000009e;
}

.votingFooter {
    position: fixed;
    z-index: 100;
    bottom: 0px;
    width: 100%;
    text-align: center;
    box-shadow: 0px -1px 3px rgba(128, 128, 128, 0.747);
    background: white;
}

.votingFooterButton {
    margin: 10px;
}

.votingPanel {}

.votingTd {
    text-align: center;
    padding-top: 9px;
    padding-bottom: 0px;
}

.votingTd p {
    line-height: 0px;
    margin: 0px;
    transform: translateY(-27px);
}